<footer class="container-fluid bg-dark d-flex flex-column flex-md-row justify-content-around py-3">
  <div class="d-flex flex-column justify-content-around">
    <a class="email" href="mailto:contact@snsakib.com">contact@snsakib.com</a>
    <div>
      <a href="https://www.linkedin.com/in/s-n-sakib/" target="_blanck" rel="noopener"><img class="icon" src="assets/images/logos/linkedin.svg"
          alt="linkedin"></a>
      <a href="https://twitter.com/syed_n_sakib" target="_blanck" rel="noopener"><img class="icon" src="assets/images/logos/twitter.svg"
          alt="linkedin"></a>
      <a href="https://github.com/snsakib" target="_blanck" rel="noopener"><img class="icon" src="assets/images/logos/github.svg"
          alt="linkedin"></a>
    </div>
  </div>
  <form class="form-inline my-2 my-lg-0">
    <input class="form-control" type="search" placeholder="Enter email for newsletter" aria-label="Search">
    <button class="btn btn-outline-light my-2 my-sm-0" type="submit"><i class="fa fa-chevron-right"></i></button>
  </form>
</footer>
