<section id="news" class="py-5">
  <h2 class="text-center">We're on News</h2>
  <div
    class="d-flex justify-content-around flex-column flex-md-row align-items-center"
  >
    <div class="card my-3" style="width: 18rem;">
      <div class="news-headline">
        <h5 class="mb-3">News Headline</h5>
        <button class="btn btn-outline-light">Know More</button>
      </div>
      <img
        class="card-img-top"
        src="./assets/images/news/news-1.jpg"
        alt="Card image cap"
      />
    </div>
    <div class="card my-3" style="width: 18rem;">
      <div class="news-headline">
        <h5 class="mb-3">News Headline</h5>
        <button class="btn btn-outline-light">Know More</button>
      </div>
      <img
        class="card-img-top"
        src="./assets/images/news/news-2.jpg"
        alt="Card image cap"
      />
    </div>
    <div class="card my-3" style="width: 18rem;">
      <div class="news-headline">
        <h5 class="mb-3">News Headline</h5>
        <button class="btn btn-outline-light">Know More</button>
      </div>
      <img
        class="card-img-top"
        src="./assets/images/news/news-3.jpg"
        alt="Card image cap"
      />
    </div>
  </div>
</section>
